[submodule "vendor/hyperscan"]
	path = vendor/hyperscan
	url = https://github.com/intel/hyperscan.git
    tag = v5.1.0
[submodule "vendor/boost"]
	path = vendor/boost
    url = https://github.com/boostorg/boost.git
    tag = boost-1.60.0
